body {
  background-color: #CCCC99;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  display: inline-block;
  margin-left: 5px;
}

img {
  height: 22px;
  width: 22px;
}

button {
  background-color: #666633;
  border: none;
  color: #FFFFFF;
  font-size: 23px;
  display: inline-block;
  outline: none;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

ul.topnav {
  background-color: #666633;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 26px;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

ul.topnav li a:hover, ul.topnav li button:hover  {
  background-color: #990033;
  cursor: pointer;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a, ul.topnav.responsive li button {
    display: block;
    text-align: left;
  }

  button {
    width: 100%;
  }
}
